* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 80%;
}

h1 {
  text-align: center;
  font-size: ;
  padding: 2%;
}
.form {
  width: 60vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.input-search {
  width: 60vw;
  display: flex;

  align-items: center;
}
.input-search input {
  margin: 2%;
  width: 30vw;

  padding: 2%;
}
button {
  width: 7rem;
  height: 3rem;
  background-color: blue;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: larger;
}
.radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  width: 100%;

  margin-top: 4%;
}
.radio1 {
  display: flex;

  width: 30%;
  justify-content: space-between;
}
.radio2 {
  width: 40%;
  display: flex;

  justify-content: space-between;
}
/* //listing */
.result{

  width :100%;
  height:100%;
}
.result p{
  font-size: 2rem;
  font-weight: 600;
}
.result li{
  font-size: 2rem;
  line-height: 3rem;
  list-style-type:square;
}